html
    head
        style
            include ../../style.css
    body
        include ../partials/navbar

        h1 #{book.name}

        p ISBN: #{book.isbn}

        p Pages: #{book.number_pages}
        
        p
        | Author: 

        each a, index in authors
            | #{a.name}
            if index !== authors.length-1
                | , 

        p
        | Genre: 

        each g, index in genres
            | #{g.name}
            if index !== genres.length-1
                | , 
        |



            


