html
    head
        style
            include ../../style.css
    body
        include ../partials/navbar

        h1 #{book.name}

        p ISBN: #{book.isbn}

        p Price: $#{book.price}

        p Pages: #{book.number_pages}

        p
        | Author: 

        each a, index in authors
            | #{a.name}
            if index !== authors.length-1
                | , 

        p
        | Genre: 

        each g, index in genres
            | #{g.name}
            if index !== genres.length-1
                | , 
        |

        p Stock: #{book.stock}

        if logged
          if !alreadyincart
            form(method="get" action="/users/addcart/" + book.isbn)
              input(type="submit", value="Add to cart")
          else
            form(method="get" action="/users/removecart/" + book.isbn)
              input(type="submit", value="Remove from cart")



            


