html
    head
        style
            include ../../style.css
    body
        include ../partials/navbar
        div.banner
          h1 #{title}
          p
            div
              if topic != 'Total'
                each obj in report
                    div.bookbrowse
                        div.books
                            p #{topic}: #{obj.name}
                            p Orders: #{obj.orders}
                            p Profit: $#{obj.profit} (found by subtracting the cost and publisher cut from the price of books sold)
              else
                div.bookbrowse
                  div.books
                    p Products Sold: #{report[0].products_sold}
                    p Sales Total: $#{report[0].sales} (found using the price of books)
                    p Expenses: $#{report[0].expensise} (found using cost of books)
                    p Total Profit: $#{report[0].profit} (found by subtracting the cost and publisher cut from the price of books sold)

                                
